* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2%;
  background-color: rgb(35,16,16);
}

header h1 {
  font-size: 2em;
  font-weight: bold;
  width: fit-content;
  padding: 1% 2%;
  background-color: rgb(217,234,211);
  border-radius: 18px;
  box-shadow: 7px 6px 0px rgb(167,167,167);
}

header a {
  color:rgb(35,16,16);
}

header nav a {
  color:rgb(217,234,211);
  margin-left: 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
  background-color: rgb(217,234,211);
}

section.signup {
  background-color:rgb(35,16,16);
  width:40%;
  padding: 1%;
  border-radius: 18px;
}

section label, section h2 {
  color:rgb(217,234,211);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

ol {
  list-style: none;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #d7f8ed;
  
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .8;
}
.meta {
  background-color:rgb(35,16,16);
  color: rgb(157, 156, 158);
  font-size: 1.5em;
  padding: 1%;
  position: relative;

}

.comment_colors {
  background-color:rgb(27, 38, 63);
  color: rgb(255, 255, 255);
}

.meta p {  
  margin:0;
  margin-right: 50%;
}

.meta span {
  position: absolute;
  left: 65%;
}

.post_content {
  font-size: 1.5em;
  border: 5px solid rgb(35,16,16);
  color: rgb(35,16,16);
  padding: 1% 0;
  
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  background-color:rgb(35,16,16);
  color:rgb(217,234,211);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}